/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2026, 8:53:45 AM
    Author     : 2548213
*/
.root {
 -fx-font-family: cursive;
 -fx-font-style: italic;
 -fx-background-color: red;
}

.text-field {
    -fx-background-color: yellowgreen;
}

